
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    /* font-family: sans-serif; */

}

.first-container {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.sub-container {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.first-container header {
    display: flex;
    margin-top: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 526px;   
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
    gap: 100px;
}

.hero-text h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight:bolder;
    margin-bottom: 20px;
}

.hero-text p {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 20px;
}


.btn-first {
    text-decoration: none;
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    border-radius: 7px;
    padding: 5px 27px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.btn-first:hover {
    background-color:#0d69fd ;
}

.hero-image {
    width: 1000px;
    height: 250px;
    background-color: grey;
    display: relative;
}

.hero-image img {
    display: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-image p {
    color: #f9faf8;
}

.second-container {
    height: 450px;
}

.second-container h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-top: 40px;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.card {
    width: 200px;
    height: 200px;
    border: 3px solid #3882f6;
    border-radius: 7px;
    display: relative;
}

.card img {
    display: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-mini-container p{
    width: 200px;
    text-align: center;
    margin-top: 15px;
}

.third-container {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-container blockquote p{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.third-container footer {
    margin-left: 870px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
    color: #1f2937;
}

.fourth-container {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    background-color: #3882f6;
    color: #f9faf8;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.btn-second {
    text-decoration: none;
    color: #f9faf8;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 7px;
    padding: 5px 27px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.btn-second:hover {
    background-color:#0d69fd ;
}